<footer class="bg-natural-95 border-top py-6">
    <div class="container">
        <div class="d-flex align-items-center">
            <ul class="nav me-auto">
                <li class="nav-item">
                    <a class="nav-link text-black" href="#">服務方案</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" href="#">關於職旅</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" href="#">聯絡我們</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" href="#">隱私權政策</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" href="#">用戶條款</a>
                </li>
            </ul>
            <span class="text-secondary">Copyright © 2025 職旅 workway. All rights reserved.</span>
        </div>
    </div>

</footer>