 
.Global-Text-primary {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.02rem;
    color: #141A1F;
}

.Global-Text-secondary {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.02rem;
    color: #667F99;
}
 


.modelwidth {
    max-width: 480px;
}