 .text-primary {
     font-weight: 500;
     line-height: 1.2;
    //  letter-spacing: 0.02rem;
     color: #141A1F;
 }

 .text-secondary {
     font-weight: 400;
     line-height: 1.5;
    //  letter-spacing: 0.02em;
     color: #667F99;
 } 

 .modelwidth {
     max-width: 480px;
 }

 .btn-dark {
     background-color: #141A1F;
     color: #fcfcfd;
 }

 
 .btn-white {
     background-color: #fcfcfd;
     color: #141A1F;
     border: 1px solid #141A1F;
 }

 .btn-white:hover,.btn-dark:hover {
     background-color: $global-success-40;
     color:  #fcfcfd;

 }

  
 