<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title></title>
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>

<body>
  <!-- Nav -->
  <%- include('./layout/header'); -%>

    <main class="container-fluid bg-natural-95">




      <div class="container py-7">
        <div class="row  justify-content-center">

          <!-- Tab -->
          <!-- https://getbootstrap.com/docs/5.3/components/navs-tabs/ -->
          <div class="col-10">
            <ul class="nav nav-pills mb-4 justify-content-center" id="pills-tab" role="tablist">
              <li class="nav-item active" role="presentation">
                <button class="btn" id="pills-info-tab" data-bs-toggle="pill" data-bs-target="#pills-info" type="button"
                  role="tab" aria-controls="pills-info" aria-selected="true">
                  <span class="material-symbols-outlined align-bottom me-1">
                    face
                  </span>
                  個人資料
                </button>

              </li>
              <li class="nav-item" role="presentation">
                <button class="btn" id="pills-reservation-tab" data-bs-toggle="pill" data-bs-target="#pills-reservation"
                  type="button" role="tab" aria-controls="pills-reservation" aria-selected="false">
                  <span class="material-symbols-outlined align-bottom me-1">
                    pending_actions
                  </span>
                  預約記錄
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="btn" id="pills-plan-tab" data-bs-toggle="pill" data-bs-target="#pills-plan" type="button"
                  role="tab" aria-controls="pills-plan" aria-selected="false">

                  <span class="material-symbols-outlined align-bottom me-1">
                    list_alt
                  </span>
                  職旅計畫

                </button>
              </li>

            </ul>
          </div>

          <!-- content -->
          <div class="col-10 border border-1 rounded-1 shadow bg-white">
            <div class="tab-content p-5" id="pills-tabContent">


              <!-- 個人資料 -->
              <div class="tab-pane fade show active" id="pills-info" role="tabpanel" aria-labelledby="pills-info-tab"
                tabindex="0">
                <div class="row">
                  <!-- start col-4 -->
                  <div class="col-4">
                    <h3 class="personaltext">個人資料</h3>
                  </div>
                  <!-- end col-4 -->

                  <!-- start col-8 -->
                  <div class="col-8">

                    <!--頭像 -->
                    <div class="mb-4">
                      <img src="../assets/images/avatar.png" alt="個人頭像" class="me-3 rounded-circle" />
                      <label for="upload" class="btn border align-bottom">
                        <span class="material-symbols-outlined">
                          upload
                        </span>更新頭貼</label>
                    </div>
                    <!-- 姓名 -->
                    <div class="mb-4">
                      <div class="form-floating mb-4">
                        <input type="text" class="form-control" id="name" placeholder="姓名" />
                        <label for="name">姓名</label>
                      </div>
                    </div>

                    <!-- 性別 -->
                    <div class="mb-2">
                      <h3 class="gendertext">
                        性別
                    </div>
                    <div class="mb-4">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                          value="option1">
                        <label class="form-check-label" for="inlineRadio1">女性</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                          value="option2">
                        <label class="form-check-label" for="inlineRadio2">男性</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                          value="option3">
                        <label class="form-check-label" for="inlineRadio3">不用透露</label>
                      </div>
                    </div>

                    <!-- 生日 -->
                    <div class="mb-4">
                      <div class="form-floating mb-4">
                        <input type="date" class="form-control" id="birthday" placeholder="生日" value="2000-01-10" />
                        <label for="birthday">生日</label>
                      </div>
                    </div>

                    <!-- 密碼 -->

                    <!-- 信箱 -->

                    <!-- 電話 -->

                    <!-- 地址 -->
                  </div>
                  <!-- end col-8 -->
                </div>
              </div>

              <!-- 預約記錄 -->
              <div class="tab-pane fade" id="pills-reservation" role="tabpanel" aria-labelledby="pills-reservation-tab"
                tabindex="0">
                預約記錄
              </div>

              <!-- 職旅計畫 -->
              <div class="tab-pane fade" id="pills-plan" role="tabpanel" aria-labelledby="pills-plan-tab" tabindex="0">
                職旅計畫
              </div>


            </div>
          </div>
        </div>




    </main>

    <script type="module" src="../main.js"></script>
    <%- include('./layout/changetitle'); -%>
</body>

</html>